[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/s_aliabeva/HW_25_host
ExcStart=/home/s_aliabeva/HW_25_host/venv/bin/python run.py

[Install]
WantedBy==multi-user.target
